{# templates/footer.html.twig #}


{% block title %}{% endblock %}

{% block body %}
    <footer class="custom-width text-center text-white fixed-bottom">
            <!-- Grid container -->
        <div class="custom-width">
                <div class="container">
                    <section class="mb-4">
                        <!-- Facebook --> 
                        <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="https://facebook.com"
                            role="button"
                        ><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #55acee;"
                            href="#!"
                            role="button"
                        ><i class="fab fa-twitter"></i></a>

                        <!-- Linkedin -->
                        <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #0082ca;"
                            href="#!"
                            role="button"
                        ><i class="fab fa-linkedin-in"></i></a>
                    </section>
                </div>

                    <!-- Copyright -->
                <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright:
                        <a class="text-white" href="https://IUFP-SUIVI.ml/">IUFP-SUIVI.ml</a>
                </div>
             </div>

    </footer>
{% endblock %}
